@{
    ViewBag.Title = "Xác thực quyên mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vui lòng kiểm tra email để thực hiệt thiết lập lại mật khẩu.
    </p>
</div>
	
