<ul class="nav nav-pills nav-stacked">
    <li><a href="/Crawler/Index">News Source</a></li>
    <li><a href="/Crawler/CategoriesConfig">Categories</a></li>
    <li><a href="/hangfire">Auto Jobs</a></li>
</ul>
