<ul class="nav nav-pills nav-stacked">
    <li><a href="/Crawler/Index">Nguồn tin </a></li>
    <li><a href="/Crawler/CategoriesConfig">Danh mục</a></li>
    <li><a href="/hangfire">Quản lý Jobs</a></li>
</ul>
