<ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/Crawler/Index">News Source</a></li>
    <li><a href="/Crawler/PageCrawlConfig">Crawl Config</a></li>
    <li><a href="/Crawler/SchedulesConfig">Schedule</a></li>
    <li><a href="/Crawler/CategoriesConfig">Categories</a></li>
</ul>

