<ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="/Crawler/Index">Cấu hình nguồn</a></li>
    <li><a href="/Crawler/PageCrawlConfig">Cấu hình configs</a></li>
    <li><a href="/Crawler/SchedulesConfig">Lập lịch</a></li>
    <li><a href="#">Menu 3</a></li>
</ul>

